html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  user-select: none;
}

.App{
  background: url(/bg-intro-desktop.png) hsl(0, 100%, 74%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.left_container{
  flex: 0.3;
  height: 10rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
}
.left_container > h1{
  font-size: 3rem;
  color: antiquewhite;
}
.left_container > p{
  color: antiquewhite;
  opacity: 0.7;
}
.right_container{
  flex: 0.3;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.upper_box{
  background-color: hsl(288, 51%, 27%)  ;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40px; 
  color: whitesmoke;
}
.line{
  opacity: 0.7;
}
.lower_box{
  flex: 0.9;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}
.line2{
color: hsl(0, 100%, 74%) ;
font-weight: bold;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
}
.form_control{
  width: 98%;
}
input{
  width: 75%;
  height: 35px;
  margin-top: 10px;
}
input{
  text-indent: 5px;
  border: 1px solid grey;
  border-radius: 3px;
  position: relative;
 
}
input:focus{
  outline: 1px solid grey;
}

form > button{
  height: 45px;
  width: 80%;
  border: none;
  outline: none;
  background-color: hsl(154, 79%, 45%);
  color: whitesmoke;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
}
.footer{
  margin-top: 15px;
  font-size: 14px;
}
.errors{
  color: red;
  font-size: 14px;
}

.errors{
 transform: translateX(12%);
  
}

@media(max-width:600px){
  .App{
    flex-direction: column;
    height: max-content;
    overflow-x: auto;
  }
  .right_container{
    flex: 0.5;
    width: 20rem;
    padding-bottom: 20px;
    
  }
  .upper_box{
    flex: 0 0 50px;
    text-align: center;
    padding: 5px;
  }
  .upper_box > p{
    font-size: 14px;
    
  }
  .lower_box{
    flex: 0.9;
  }
  .left_container{
    flex: 0.5;
    width: 20rem;
    padding: 0;
  }
  .left_container > h1{
    font-size: 40px;
  }
  .left_container > p{
    margin-top: -30px;
  }
  .form_control{
    width: 100%;
  }
  input{
    border: none;
    width: 100%;
    background-color: whitesmoke;
  }
  .errors{
    transform: translateX(16%);
  }
}